/*------------------------------------*\
  $BASE
\*------------------------------------*/
body {
  color: $color-text;
  font-family: "ProximaNova", sans-serif;
  font-size: $medium-size;
  line-height: $medium-lineHieght;
}

h1, h2, h3, h4,
.fs-h1, .fs-h2, .fs-h3, .fs-h4 {
  color: $color-headings;
  font-family: "museo", serif;
  letter-spacing: initial;
  text-transform: initial;
}
h5, .fs-h5 {
  font-family: "ProximaNova", sans-serif;
}
h1, .fs-h1 {
  font-size: $xxx-large-size;
  line-height: $xxx-large-lineHeight;

  & + p {
    margin-top: 16px;
  }
}
h2, .fs-h2 {
  font-size: $xx-large-size;
  line-height: $xx-large-lineHeight;
}
h3, .fs-h3 {
  font-size: $x-large-size;
  line-height: $x-large-lineHeight;

  & + p {
    margin-top: 14px;
  }
}
h4, .fs-h4 {
  font-size: $large-size;
  line-height: $large-lineHeight;

  & + p {
    margin-top: 12px;
  }
}
h5, .fs-h5 {
  color: $color-headings;
  font-size: $small-size;
  letter-spacing: 1px;
  line-height: $small-lineHieght;
  text-transform: uppercase;

  & + p {
    margin-top: 12px;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
a:hover,
a:active {
  color: $color-link;
}

a:visited {
  color: $color-link-visited;
}

button {
  outline-offset: -2px;
  font-family: "ProximaNova", sans-serif;
}

// lobotomized owl variant
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + * {
  margin-top: 26px;
}

ul, li {
  line-height: $medium-lineHieght;
}

small {
  font-size: $small-size;
  line-height: 17px;
  color: $color-label;
}