/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/**
 * FORMS......Form styles
 */





/*------------------------------------*\
  $FORMS
\*------------------------------------*/
textarea,
input[type=text],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border-radius: 4px;
  height: 22px;
  padding: 4px 6px;
  box-sizing: content-box;

  &:focus {
    border: 1px solid;
    outline: 0;
  }
}

textarea {
  resize: vertical;
  min-width: 50%;
  min-height: 75px;
}

select {
  border: 1px solid;
  padding: 4px 6px;
  margin: 0;
  height: 32px;

  &:focus {
    border: 1px solid;
    outline: none;
  }
}