/*------------------------------------*\
  $BASE
\*------------------------------------*/
html {
  font-size: ($font-base)px;
}

body {
  color: $color-text;
  font-family: "ProximaNova", sans-serif;
}

h1, h2, h3, h4,
.fs-h1, .fs-h2, .fs-h3, .fs-h4 {
  color: $color-headings;
  font-family: "museo", serif;
  letter-spacing: initial;
  text-transform: initial;
  margin-top: 0;
}
h5, .fs-h5 {
  font-family: "ProximaNova", sans-serif;
  margin-top: 0;
}
h1, .fs-h1 {
  font-size: pxToRem($xxx-large-size);
  line-height: calcLineHeight($xxx-large-lineHeight, $xxx-large-size);

  & + p {
    margin-top: pxToRem(16px);
  }
}
h2, .fs-h2 {
  font-size: pxToRem($xx-large-size);
  line-height: calcLineHeight($xx-large-lineHeight, $xx-large-size);
}
h3, .fs-h3 {
  font-size: pxToRem($x-large-size);
  line-height: calcLineHeight($x-large-lineHeight, $x-large-size);

  & + p {
    margin-top: pxToRem(14px);
  }
}
h4, .fs-h4 {
  font-size: pxToRem($large-size);
  line-height: calcLineHeight($large-lineHeight, $large-size);

  & + p {
    margin-top: pxToRem(12px);
  }
}
h5, .fs-h5 {
  color: $color-headings;
  font-size: pxToRem($small-size);
  letter-spacing: 1px;
  line-height: calcLineHeight($small-lineHeight, $small-size);
  text-transform: uppercase;

  & + p {
    margin-top: pxToRem(12px);
  }
}

p {
  font-size: pxToRem($medium-size);
  line-height: calcLineHeight($medium-lineHeight, $medium-size);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
a:hover,
a:active {
  color: $color-link;
}

a:visited {
  color: $color-link-visited;
}

button {
  outline-offset: -2px;
  font-family: "ProximaNova", sans-serif;
}

// lobotomized owl variant
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + * {
  margin-top: pxToRem(26px);
}

ol, ul, li {
  font-size: pxToRem($medium-size);
  line-height: calcLineHeight($medium-lineHeight, $medium-size);
}

small {
  font-size: pxToRem($small-size);
  line-height: calcLineHeight($small-lineHeight, 17px);
  color: $color-label;
}