/**
 * Buttons
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * VARIABLES............Variables just for buttons
 * DEFAULT_BUTTON.......Standard button
 * RECOMMENDED_BUTTON...Button used for recommended actions
 * MINOR_BUTTON.........Button used for minor actions
 * LARGE_BUTTON.........A larger button used for campaign pages
 * SMALL_BUTTON.........A smaller button used for apps and inline form elements
 * LOADING_ANIMATION....Animation for a loading button
 * KEYFRAMES............Animation keyframes
 */





/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
$blue = #3073dd;
$blue-light = #3882f8;
$blue-dark = #1f61c9;

$grey = #f5f4f1;
$grey-light = #fbfaf9;
$grey-dark = #e8e6e0;
$grey-border = #beb8a7;

$link-blue = #0060d7;





/*------------------------------------*\
  $DEFAULT_BUTTON
\*------------------------------------*/
/**
 * Types
 *
 * ##### Acceptable Use
 *
 * By default, buttons are left aligned to the content. In most cases, the recommended
 * button is the leftmost button.
 *
 * The `fs-button` should be used for most buttons.
 *
 * The `fs-button--recommended` should be used to recommend an action to the user.
 *
 * The `fs-button--minor` should be used for actions that you wish to de-emphasize.
 *
 * ##### Avoid
 *
 * Do not use the `fs-button--recommended` for any actions that would cause the use to lose
 * data (such as deleting a message).
 *
 * Do not use the `fs-button--large` for anything other than landing pages and marketing
 * campaign pages.
 *
 * @section
 * @subsectionof Buttons
 *
 * @example
 * <p>
 *   <small class="example__title">Options</small>
 *   <button type="button" class="fs-button fs-button--recommended">Recommended</button>
 *   <button type="button" class="fs-button">Button</button>
 *   <button type="button" class="fs-button fs-button--minor">Minor</button>
 * </p>
 *
 * <p>
 *   <small class="example__title">Sizes</small>
 *   <button type="button" class="fs-button fs-button--large">Large</button>
 *   <button type="button" class="fs-button">Default</button>
 *   <button type="button" class="fs-button fs-button--small">Small</button>
 * </p>
 *
 * <p>
 *   <small class="example__title">Elements</small>
 *   <button type="button" class="fs-button">Button</button>
 *   <a href="javascript:void(0)" class="fs-button" role="button">Anchor</a>
 *   <input type="submit" class="fs-button" value="Submit"/>
 * </p>
 *
 * <p>
 *   <small class="example__title">Disabled</small>
 *   <button type="button" class="fs-button fs-button--recommended" disabled>Recommended</button>
 *   <button type="button" class="fs-button" disabled>Button</button>
 * </p>
 */

/*
 * 1. Default button height should be 35px.
 * 2. Links need to override :focus and :visited color.
 * 3. :hover should always be declared before :active so that :active overrides
 *    :hover styles
 * 4. Make button outline offset override bootstrap outline-offset for link buttons
 */
.fs-button {
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  background-color: $grey;
  border-radius: $border-radius;
  border: 1px solid $grey-border;
  color: $color-grey-body;
  cursor: pointer;
  display: inline-block;
  font-size: pxToRem($font-size-medium);
  font-weight: normal;
  line-height: 1;
  padding: pxToRem(8.5px 20px); /* [1] */
  position: relative;
  text-decoration: none;
  transition: padding .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover { /* [3] */
    background: $grey-light;
    color: $color-grey-body;
    text-decoration: none;

    // disable hover effects when disabled
    &:disabled,
    &.disabled {
      background-color: $grey;
      color: rgba(51,51,49,.3);
      text-decoration: none;
    }
  }

  &:active {
    background-color: $grey-dark;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: $grey;
    border: 1px solid lighten($grey-border, 20%);
    color: rgba($color-grey-body, 0.3);
  }

  &:focus,
  &:visited {
    color: $color-grey-body; /* [2] */
    text-decoration: none;
    outline-offset: 2px; /* [4] */
  }

  &:after {
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
  }





  /*------------------------------------*\
    $RECOMMENDED_BUTTON
  \*------------------------------------*/
  &--recommended {
    background-color: $blue;
    border: 1px solid darken($blue, 5%);
    color: #fff;

    &:hover { /* [3] */
      background: $blue-light;
      color: #fff;
    }

    &:active {
      background-color: $blue-dark;
    }

    &:focus,
    &:visited {
      color: #fff; /* [2] */
    }

    &:disabled,
    &.disabled {

      // disable hover effects when disabled
      &:hover {
        color: rgba($color-grey-body, 0.3);
      }
    }
  }





  /*------------------------------------*\
    $MINOR_BUTTON
  \*------------------------------------*/
  &--minor {
    background: transparent;
    color: $link-blue;
    border-color: transparent;

    &:hover { /* [3] */
      background: transparent;
      color: $link-blue;
      text-decoration: underline;
    }

    &:active {
      background: transparent;
      color: $link-blue;
      text-decoration: underline;
    }

    &:focus,
    &:visited {
      color: $link-blue; /* [2] */
    }
  }





  /*------------------------------------*\
    $LARGE_BUTTON
  \*------------------------------------*/
  /*
   * 1. Large button height should be 50px
   */
  &--large {
    border-radius: 5px;
    padding: pxToRem(16px 20px); /* [1] */
  }





  /*------------------------------------*\
    $SMALL_BUTTON
  \*------------------------------------*/
  /*
   * 1. Small button height should be 30px
   */
  &--small {
    padding: pxToRem(6px 20px); /* [1] */

    &.is-loading {
      padding-right: 42px;

      &:after {
        width: 16px;
        height: 16px;
        margin-top: 0;
      }
    }
  }





  /*------------------------------------*\
    $LOADING_ANIMATION
  \*------------------------------------*/
  /**
   * Animations
   *
   * The `fs-button--loading` class will only work for buttons and anchor tags. Input tags
   * will not work.
   *
   * ##### Acceptable Use
   *
   * Disable the button while the <code>fs-button--loading</code> class is active.
   *
   * @section
   * @subsectionof Buttons
   *
   * @example
   * <div class="row-fluid">
   *   <p class="span9">
   *     <small class="example__title">Loading - <code>fs-button--loading</code></small>
   *     <button type="button" class="fs-button fs-button--recommended animation__toggle" data-animation="fs-button--loading" data-animation-for="fs-button--loading" data-animation-show="true">
   *       <span class="animation__show">Loading</span>
   *     </button>
   *   </p>
   * </div>
   *
   * @code
   * <p>
   *   <button type="button" class="fs-button fs-button--loading">Loading</button>
   * <p>
   */
  &--loading {
    padding-right: 47px;

    &:after {
      @extends $icon-spinner-light;
      background-size: contain;
      height: 20px;
      margin-top: -2px;
      opacity: 1;
      position: absolute;
      right: 15px;
      width: 20px;
    }

    &[disabled]:after {
      @extends $icon-spinner;
    }
  }
}