/*------------------------------------*\
  $FORMS
\*------------------------------------*/
label {
  color: $color-label;
  font-size: $small-size;
  line-height: $small-lineHieght;
  margin-bottom: 0;

  > input[type="radio"],
  > input[type="checkbox"] {
    float: left;
    margin-right: 8px;
  }
}

::-webkit-input-placeholder {
  font-family: "ProximaNova", sans-serif;
}
::-moz-placeholder {
  font-family: "ProximaNova", sans-serif;
}
:-ms-input-placeholder {
  font-family: "ProximaNova", sans-serif;
}

textarea,
input[type=text],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border-radius: 4px;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: $color-text;
  font-family: "ProximaNova", sans-serif;
  font-size: $medium-size;
  height: 30px;  // needed to override Bootstrap
  line-height: $medium-lineHieght;
  margin-bottom: 0;
  padding: 4px 6px;
  width: 100%;

  &:focus {
    border: 1px solid $color-border-input-selected;
    box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
    outline: 0;
  }

  &:disabled,
  &.disabled {
    color: $color-text-input-disabled;
    background: $color-background-input-disabled;
  }
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;  // ie9
}

textarea {
  resize: vertical;
  min-height: 75px;
}

select {
  background-color: #fff;
  border: 1px solid $color-border-select;
  color: $color-text;
  font-family: "ProximaNova", sans-serif;
  font-size: $medium-size;
  height: 30px;
  line-height: $medium-lineHieght;
  margin: 0;
  padding: 4px 6px;
  width: 100%;

  &:focus {
    border: 1px solid $color-text;
    outline: none;
  }
}