/*------------------------------------*\
  $FORMS
\*------------------------------------*/
label {
  color: $color-grey-body-light;
  font-size: pxToRem($font-size-small);
  line-height: calcLineHeight($line-height-small, $font-size-small);
  margin-bottom: 5px;

  > input[type="radio"],
  > input[type="checkbox"] {
    float: left;
    margin-right: 8px;
  }

  > input[type="radio"] {
    margin-top: 1px;
  }

  > input[type="checkbox"] {
    margin-top: 2px;
  }
}

::-webkit-input-placeholder {
  font-family: $font-face-body;
}
::-moz-placeholder {
  font-family: $font-face-body;
}
:-ms-input-placeholder {
  font-family: $font-face-body;
}

textarea,
input[type=text],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border-radius: $border-radius;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
  box-sizing: border-box;
  color: $color-grey-body;
  font-family: $font-face-body;
  font-size: pxToRem($font-size-medium);
  height: pxToRem(30px);  // needed to override Bootstrap
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
  margin-bottom: 0;
  padding: pxToRem(4px 10px);
  width: 100%;

  &:focus {
    border: 1px solid $color-grey-body;
    box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
    outline: 0;
  }

  &:disabled,
  &.disabled {
    color: #999999;
    background: #f0f0f0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0; /* IE9 */
  font-size: pxToRem(14px);
}

textarea {
  resize: vertical;
  min-height: 75px;
}

select {
  background-color: #fff;
  border: 1px solid $color-grey-accent;
  color: $color-grey-body;
  font-family: $font-face-body;
  font-size: pxToRem($font-size-medium);
  height: pxToRem(30px);
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
  margin: 0;
  padding: pxToRem(4px 6px);
  width: 100%;

  &:focus {
    border: 1px solid $color-grey-body;
    outline: none;
  }
}