/**
 * Forms
 * @section
 */

/*------------------------------------*\
  $FORMS
\*------------------------------------*/
/**
 * Text Field
 *
 * @section
 * @subsectionof Forms
 *
 * @example
 * <fieldset>
 *   <p>
 *     <label for="text">Text Input</label>
 *     <input id="text" type="text" placeholder="Text Input"/>
 *   </p>
 *   <p>
 *     <label for="textarea">Textarea</label>
 *     <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
 *   </p>
 *   <p>
 *     <label for="disabled_text">Disabled Input</label>
 *     <input id="disabled_text" type="text" placeholder="Disabled" disabled/>
 *   </p>
 * </fieldset>
 */
label {
  color: $color-grey-light;
  display: block;
  font-size: pxToRem($font-size-small);
  font-weight: normal;
  line-height: calcLineHeight($line-height-small, $font-size-small);
  margin-bottom: 5px;
  cursor: pointer;

  > input[type="radio"],
  > input[type="checkbox"] {
    float: left;
    margin-right: 8px;
  }

  > input[type="radio"] {
    margin-top: 1px;
  }

  > input[type="checkbox"] {
    margin-top: 2px;
  }
}

::-webkit-input-placeholder {
  font-family: $font-face-body;
}
::-moz-placeholder {
  font-family: $font-face-body;
}
:-ms-input-placeholder {
  font-family: $font-face-body;
}

input {
  font-family: $font-face-body;
}

textarea,
input[type=text],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #fff;
  border: 1px solid $color-grey-border;
  border-radius: $border-radius;
  box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
  box-sizing: border-box;
  color: $color-grey-body;
  font-family: $font-face-body;
  font-size: pxToRem($font-size-medium);
  height: pxToRem(30px);  // needed to override Bootstrap
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
  margin-bottom: 0;
  padding: pxToRem(4px 10px);
  transition: border linear 0.2s;
  width: 100%;

  &:focus {
    border: 1px solid $color-grey-body;
    box-shadow: inset 0 3px 0 rgba(0,0,0,0.05);
    outline: 0;
  }

  &:disabled,
  &.disabled {
    color: #999999;
    background: #f0f0f0;
  }
}

textarea {
  resize: vertical;
  min-height: 75px;
}





/**
 * Select Menu
 *
 * ##### Acceptable Use
 *
 * Use a select menu when the user needs to select from a list of six or more options.
 *
 * ##### Avoid
 *
 * Avoid using select menus when there are five or less options.</p><p>Avoid multi select
 * menus since not all browsers have keyboard support for them and not all users
 * understand how to use them.
 *
 * @section
 * @subsectionof Forms
 *
 * @example
 * <label for="select">Select</label>
 * <select id="select">
 *   <option>Option One</option>
 *   <option>Option Two</option>
 *   <option>Option Three</option>
 *   <option>Option Four</option>
 *   <option>Option Five</option>
 *   <option>Option Six</option>
 * </select>
 */
select {
  background-color: #fff;
  border: 1px solid $color-grey-border;
  color: $color-grey-body;
  font-family: $font-face-body;
  font-size: pxToRem($font-size-medium);
  height: pxToRem(30px);
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
  margin: 0;
  padding: pxToRem(4px 6px);
  width: 100%;

  &:focus {
    border: 1px solid $color-grey-body;
    outline: none;
  }
}





/**
 * Checkbox
 *
 * ##### Acceptable Use
 *
 * Each checkbox must have a label next to it.
 *
 * @section
 * @subsectionof Forms
 *
 * @example
 * <form action="#">
 *   <fieldset class="options">
 *     <ul>
 *       <li>
 *         <label><input name="checkbox" type="checkbox" checked="checked"/>Choice A</label>
 *       </li>
 *       <li>
 *         <label><input name="checkbox" type="checkbox"/>Choice B</label>
 *       </li>
 *       <li>
 *         <label><input name="checkbox" type="checkbox"/>Choice C</label>
 *       </li>
 *     </ul>
 *   </fieldset>
 * </form>
 */

/**
 * Radio Buttons
 *
 * ##### Acceptable Use
 *
 * Use radio buttons when the user needs to select from a list of less than five options.
 *
 * ##### Avoid
 *
 * Avoid using radio buttons when there are more than five options. Those options would be
 * better displayed as a [select menu](#select-menu).
 *
 * @section
 * @subsectionof Forms
 *
 * @example
 * <form action="#">
 *   <fieldset class="options">
 *     <ul>
 *       <li>
 *         <label><input name="radio" type="radio" checked="checked"/>Option 1</label>
 *       </li>
 *       <li>
 *         <label><input name="radio" type="radio" />Option 2</label>
 *       </li>
 *       <li>
 *         <label><input name="radio" type="radio" />Option 3</label>
 *       </li>
 *     </ul>
 *   </fieldset>
 * </form>
 */
input[type="radio"],
input[type="checkbox"] {
  padding: 0; /* IE9 */
  font-size: pxToRem(14px);
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}