/**
 * Icons
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * ICONS...........General icons
 * GENDER_ICONS....Icons for male, female, and unknown genders
 */





/*------------------------------------*\
  $ICONS
\*------------------------------------*/
/**
 * Usage
 *
 * ##### Acceptable Use
 *
 * Use icons almost anywhere using the class `fs-icon` and the icon's name.
 *
 * Icons can also be placed `:before` and `:after` the element using `fs-icon-before` and
 * `fs-icon-after`.
 *
 * @section
 * @subsectionof Icons
 *
 * @example
 * <small class="example__title">fs-icon</small>
 * <div class="fs-icon fs-icon-check">fs-icon-check</div>
 *
 * <small class="example__title">fs-icon-before</small>
 * <div class="fs-icon-before fs-icon-check">fs-icon-check</div>
 *
 * <small class="example__title">fs-icon-after</small>
 * <div class="fs-icon-after fs-icon-check">fs-icon-check</div>
 */

/**
 * Available Icons
 *
 * @section
 * @subsectionof Icons
 */

/*
 * 1. Default size to 20x20 so that the icon will always show up
 * 2. Bootstrap overrides background on print css to be `background: transparent !important`. This means that I have to add !important to all print css for icons. Thanks bootstrap...
 */
.fs-icon,
.fs-icon-before:before,
.fs-icon-after:after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media print { /* [2] */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }
}

.fs-icon-before:before,
.fs-icon-after:after {
  /* [1] */
  height: pxToRem(20px);
  width: pxToRem(20px);
}

.fs-icon {

  &-before:before,
  &-after:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  &-before:before {
    margin-right: pxToRem(6px);
  }

  &-after:after {
    margin-left: pxToRem(6px);
  }





  /**
   * fs-icon-check
   *
   * @icondef check
   * @iconof Available Icons
   * @class fs-icon fs-icon-check
   */
  &.fs-icon-check,
  &-before.fs-icon-check:before,
  &-after.fs-icon-check:after {
    @extends $icon-check;
  }

  /**
   * fs-icon-exclamation
   *
   * @icondef exclamation
   * @iconof Available Icons
   * @class fs-icon fs-icon-exclamation
   */
  &.fs-icon-exclamation,
  &-before.fs-icon-exclamation:before,
  &-after.fs-icon-exclamation:after {
    @extends $icon-exclamation;
  }

  /**
   * fs-icon-info
   *
   * @icondef info
   * @iconof Available Icons
   * @class fs-icon fs-icon-info
   */
  &.fs-icon-info,
  &-before.fs-icon-info:before,
  &-after.fs-icon-info:after {
    @extends $icon-info;
  }

  /**
   * fs-icon-spinner
   *
   * @icondef spinner
   * @iconof Available Icons
   * @class fs-icon fs-icon-spinner
   */
  &.fs-icon-spinner,
  &-before.fs-icon-spinner:before,
  &-after.fs-icon-spinner:after {
    @extends $icon-spinner;
  }

  /**
   * fs-icon-spinner-light
   *
   * @icondef light spinner
   * @iconof Available Icons
   * @class fs-icon fs-icon-spinner-light
   */
  &.fs-icon-spinner-light,
  &-before.fs-icon-spinner-light:before,
  &-after.fs-icon-spinner-light:after {
    @extends $icon-spinner-light;
  }

  /**
   * fs-icon-warning
   *
   * @icondef warning
   * @iconof Available Icons
   * @class fs-icon fs-icon-warning
   */
  &.fs-icon-warning,
  &-before.fs-icon-warning:before,
  &-after.fs-icon-warning:after {
    @extends $icon-warning;
  }
}





/*------------------------------------*\
  $GENDER_ICONS
\*------------------------------------*/
/*
 * 1. Small gender icons are 8x8
 * 2. Medium gender icons are 22x22
 * 3. Large gender icons are 66x66
 */

.fs-icon[class*=fs-icon-small-],
.fs-icon-before[class*=fs-icon-small-]:before,
.fs-icon-after[class*=fs-icon-small-]:after { /* [1] */
  height: pxToRem(8px);
  width: pxToRem(8px);
}

.fs-icon[class*=fs-icon-medium-],
.fs-icon-before[class*=fs-icon-medium-]:before,
.fs-icon-after[class*=fs-icon-medium-]:after { /* [2] */
  height: pxToRem(22px);
  width: pxToRem(22px);
}

.fs-icon[class*=fs-icon-large-],
.fs-icon-before[class*=fs-icon-large-]:before,
.fs-icon-after[class*=fs-icon-large-]:after { /* [3] */
  height: pxToRem(66px);
  width: pxToRem(66px);
}

.fs-icon {

  // female
  /**
   * fs-icon-small-female
   *
   * @icondef small female
   * @iconof Available Icons
   * @class fs-icon fs-icon-small-female
   */
  &.fs-icon-small-female,
  &-before.fs-icon-small-female:before,
  &-after.fs-icon-small-female:after {
    @extends $icon-female-small;
  }

  /**
   * fs-icon-medium-female
   *
   * @icondef medium female
   * @iconof Available Icons
   * @class fs-icon fs-icon-medium-female
   */
  &.fs-icon-medium-female,
  &-before.fs-icon-medium-female:before,
  &-after.fs-icon-medium-female:after {
    @extends $icon-female-medium;
  }

  /**
   * fs-icon-large-female
   *
   * @icondef large female
   * @iconof Available Icons
   * @class fs-icon fs-icon-large-female
   */
  &.fs-icon-large-female,
  &-before.fs-icon-large-female:before,
  &-after.fs-icon-large-female:after {
    @extends $icon-female-large;
  }

  /**
   * fs-icon-large-grey-female
   *
   * @icondef large grey female
   * @iconof Available Icons
   * @class fs-icon fs-icon-large-grey-female
   */
  &.fs-icon-large-grey-female,
  &-before.fs-icon-large-grey-female:before,
  &-after.fs-icon-large-grey-female:after {
    @extends $icon-female-large-grey;
  }

  // male
  /**
   * fs-icon-small-male
   *
   * @icondef small male
   * @iconof Available Icons
   * @class fs-icon fs-icon-small-male
   */
  &.fs-icon-small-male,
  &-before.fs-icon-small-male:before,
  &-after.fs-icon-small-male:after {
    @extends $icon-male-small;
  }

  /**
   * fs-icon-medium-male
   *
   * @icondef medium male
   * @iconof Available Icons
   * @class fs-icon fs-icon-medium-male
   */
  &.fs-icon-medium-male,
  &-before.fs-icon-medium-male:before,
  &-after.fs-icon-medium-male:after {
    @extends $icon-male-medium;
  }

  /**
   * fs-icon-large-male
   *
   * @icondef large male
   * @iconof Available Icons
   * @class fs-icon fs-icon-large-male
   */
  &.fs-icon-large-male,
  &-before.fs-icon-large-male:before,
  &-after.fs-icon-large-male:after {
    @extends $icon-male-large;
  }

  /**
   * fs-icon-large-grey-male
   *
   * @icondef large grey male
   * @iconof Available Icons
   * @class fs-icon fs-icon-large-grey-male
   */
  &.fs-icon-large-grey-male,
  &-before.fs-icon-large-grey-male:before,
  &-after.fs-icon-large-grey-male:after {
    @extends $icon-male-large-grey;
  }

  // unknown
  /**
   * fs-icon-small-unknown
   *
   * @icondef small unknown
   * @iconof Available Icons
   * @class fs-icon fs-icon-small-unknown
   */
  &.fs-icon-small-unknown,
  &-before.fs-icon-small-unknown:before,
  &-after.fs-icon-small-unknown:after {
    @extends $icon-unknown-small
  }

  /**
   * fs-icon-medium-unknown
   *
   * @icondef medium unknown
   * @iconof Available Icons
   * @class fs-icon fs-icon-medium-unknown
   */
  &.fs-icon-medium-unknown,
  &-before.fs-icon-medium-unknown:before,
  &-after.fs-icon-medium-unknown:after {
    @extends $icon-unknown-medium;
  }

  /**
   * fs-icon-large-unknown
   *
   * @icondef large unknown
   * @iconof Available Icons
   * @class fs-icon fs-icon-large-unknown
   */
  &.fs-icon-large-unknown,
  &-before.fs-icon-large-unknown:before,
  &-after.fs-icon-large-unknown:after {
    @extends $icon-unknown-large;
  }
}