// TODO: add back double /** for style guide comments when adding back to style guide
/*
 * Tooltips
 * @section
 */

/*------------------------------------*\
  $TOOLTIPS
\*------------------------------------*/
/*
 * Tooltips
 *
 * The tooltip will be centered around the element that has the class `fs-tooltip`.
 *
 * @section
 * @subsectionof Tooltips
 *
 * @example
 * <span class="fs-tooltip">
 *   <button class="fs-button fs-tooltip__trigger" aira-describedby="myTip1">Default (above)</button>
 *   <span class="fs-tooltip__tip" id="myTip1" role="tooltip">Default tooltip position is above.</span>
 * </span>
 *
 * <span class="fs-tooltip">
 *   <button class="fs-button fs-tooltip__trigger" aira-describedby="myTip2">Right</button>
 *   <span class="fs-tooltip__tip fs-tooltip__tip--right" id="myTip2" role="tooltip">You can also position the tooltip to the right.</span>
 * </span>
 *
 * <span class="fs-tooltip">
 *   <button class="fs-button fs-tooltip__trigger" aira-describedby="myTip3">Below</button>
 *   <span class="fs-tooltip__tip fs-tooltip__tip--below" id="myTip3" role="tooltip">Or even below the element.</span>
 * </span>
 *
 * <span class="fs-tooltip">
 *   <button class="fs-button fs-tooltip__trigger" aira-describedby="myTip4">Left</button>
 *   <span class="fs-tooltip__tip fs-tooltip__tip--left" id="myTip4" role="tooltip">And lets not forget to the left.</span>
 * </span>
 */

// TODO: add back in when header/footer removes their version
// .fs-tooltip {
//   display: inline-block;
//   position: relative;

//   &__trigger:hover + &__tip,
//   &__trigger:focus + &__tip {
//     width: 200px;
//     height: inherit;
//     clip: auto;
//     overflow: visible;
//     opacity: 1;
//   }

//   &__tip {
//     background: #fff;
//     border-radius: $border-radius;
//     bottom: 100%;
//     box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35), 0px 3px 2px 0px rgba(0,0,0,0.18);
//     clip: rect(0, 0, 0, 0);
//     height: 1px;
//     left: 50%;
//     overflow: hidden;
//     padding: 10px;
//     position: absolute;
//     transform: translate(-50%, -15px);
//     transition: opacity 0.2s;
//     width: 1px;
//     z-index: 99999;
//     opacity: 0;

//     &:before {
//       background: white;
//       border-radius: $border-radius;
//       bottom: 0;
//       content: '';
//       left: 0;
//       position: absolute;
//       right: 0;
//       right: 0;
//       top: 0;
//       z-index: -1;
//     }

//     &:after {
//       background: white;
//       bottom: -7px;
//       box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.35), 0px 0px 2px 0px rgba(0,0,0,0.18);
//       content: '';
//       height: 15px;
//       left: 50%;
//       position: absolute;
//       transform: translateX(-50%) rotate(45deg);
//       width: 15px;
//       z-index: -2;
//     }

//     &--below {
//       bottom: auto;
//       top: 100%;
//       transform: translate(-50%, 15px);

//       &:after {
//         top: -7px;
//       }
//     }

//     &--left, &--right {
//       left: auto;
//       bottom: auto;
//       top: 50%;

//       &:after {
//         top: 50%;
//         bottom: auto;
//         left: auto;
//         transform: translateY(-50%) rotate(45deg);
//       }
//     }

//     &--left {
//       right: 100%;
//       transform: translate(-20px, -50%);

//       &:after {
//         right: -7px;
//       }
//     }

//     &--right {
//       left: 100%;
//       transform: translate(15px, -50%);

//       &:after {
//         left: -7px;
//       }
//     }
//   }
// }