/**
 * Typography
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * GLOBAL.............Styles placed on html or body
 * HEADINGS...........Heading styles
 * PARAGRAPHS.........Paragraph styles
 * ANCHORS............Anchor styles
 * INLINE_ELEMENTS....Inline element styles
 */





/*------------------------------------*\
  $GLOBAL
\*------------------------------------*/
html {
  font-size: $font-size-medium;

  // CJK specific stack
  &.locale-zh,
  &.locale-ja,
  &.locale-ko {
    font-size: 16px;
  }

  @media $break-mobile {
    font-size: $font-size-small;

    &.locale-zh,
    &.locale-ja,
    &.locale-ko {
      font-size: 14px;
    }
  }
}

body {
  color: $color-grey-body;
  font-family: $font-face-body;
  font-size: pxToRem($font-size-medium);
  line-height: remToPx($line-height-medium);
}

// CJK specific stack
.locale-zh body,
.locale-zh h1,
.locale-zh h2,
.locale-zh h3,
.locale-zh h4,
.locale-zh h5,
.locale-zh h6,
.locale-zh .fs-h1,
.locale-zh .fs-h2,
.locale-zh .fs-h3,
.locale-zh .fs-h4,
.locale-zh .fs-h5,
.locale-zh .fs-h6  {
  // HanaMinB added to support non-Chinese computers (e.g. translators)
  // to view Unicode extension D+
  font-family: "黑體-繁", "Heiti TC", "华文细黑", "STXihei", "微軟正黑體", "Microsoft JengHei", "中易黑体", "SimHei", "HanaMinB", sans-serif;
}

.locale-ja body,
.locale-ja h1,
.locale-ja h2,
.locale-ja h3,
.locale-ja h4,
.locale-ja h5,
.locale-ja h6,
.locale-ja .fs-h1,
.locale-ja .fs-h2,
.locale-ja .fs-h3,
.locale-ja .fs-h4,
.locale-ja .fs-h5,
.locale-ja .fs-h6 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ ゴシック", "MS Gothic", sans-serif;
}

.locale-ko body,
.locale-ko h1,
.locale-ko h2,
.locale-ko h3,
.locale-ko h4,
.locale-ko h5,
.locale-ko h6,
.locale-ko .fs-h1,
.locale-ko .fs-h2,
.locale-ko .fs-h3,
.locale-ko .fs-h4,
.locale-ko .fs-h5,
.locale-ko .fs-h6 {
  font-family: "Apple SD Gothic Neo", "애플고딕", "AppleGothic", "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", sans-serif;
}





/*------------------------------------*\
  $HEADINGS
\*------------------------------------*/
/**
 * Headings
 *
 * ##### Acceptable Use
 *
 * Use headings in the correct hierarchical manner (`<h1>` followed by `<h2>`, and so on)
 * as this improves readability and scannability for all users.
 *
 * ##### Avoid
 *
 * Do not use headings to achieve visual results only (e.g. skipping heading levels
 * because the lower degree heading matches the desired look).
 *
 * Do not use text formatting, such as font size or bold, to give the visual appearance of
 * a heading when it is not a heading.
 *
 * @section
 * @sectionof Typography
 *
 * @example
 * <h1>Heading Level 1</h1>
 * <h2>Heading Level 2</h2>
 * <h3>Heading Level 3</h3>
 * <h4>Heading Level 4</h4>
 * <h5>Heading Level 5</h5>
 */

 /**
 * Heading Classes
 *
 * ##### Acceptable Use
 *
 * You may style headings to look like other headings in order to achieve aesthetic visual
 * design but keep correct hierarchical structure (e.g. style an `<h1>` to look like an
 * `<h3>`).
 *
 * ##### Avoid
 *
 * Do not apply the hading classes to elements that are not headings (e.g. `<div>`).
 *
 * @section
 * @sectionof Typography
 *
 * @example
 * <h1 class="fs-h5">H1 styled as H5</h1>
 * <h2 class="fs-h4">H2 styled as H4</h2>
 * <h3 class="fs-h3">H3 styled as H3</h3>
 * <h4 class="fs-h2">H4 styled as H2</h4>
 * <h5 class="fs-h1">H5 styled as H1</h5>
 */

// Typography Selectors (conditional based on the $limit-base-styles flag)
$typography-header-defaults = 'h1, h2, h3, h4' + ($limit-base-styles ? '' : ', .fs-h1, .fs-h2, .fs-h3, .fs-h4');
$typography-h1-selectors = 'h1' + ($limit-base-styles ? '' : ', .fs-h1');
$typography-h2-selectors = 'h2' + ($limit-base-styles ? '' : ', .fs-h2');
$typography-h3-selectors = 'h3' + ($limit-base-styles ? '' : ', .fs-h3');
$typography-h4-selectors = 'h4' + ($limit-base-styles ? '' : ', .fs-h4');
$typography-h5-selectors = 'h5, h6' + ($limit-base-styles ? '' : ', .fs-h5, .fs-h6');

{$typography-header-defaults} {
  color: $color-grey;
  font-family: $font-face-heading;
  margin: 0;
}

{$typography-h1-selectors} {
  font-size: pxToRem($font-size-large-xxx);
  line-height: remToPx($line-height-large-xxx);
}

{$typography-h2-selectors} {
  font-size: pxToRem($font-size-large-xx);
  line-height: remToPx($line-height-large-xx);
}

{$typography-h3-selectors} {
  font-size: pxToRem($font-size-large-x);
  line-height: remToPx($line-height-large-x);
  margin: remToPx(0 0 0.203125rem 0);
}

{$typography-h4-selectors} {
  font-size: pxToRem($font-size-large);
  line-height: remToPx($line-height-large);
}

{$typography-h5-selectors} {
  color: $color-grey;
  font-family: inherit;
  font-size: pxToRem($font-size-medium);
  line-height: remToPx($line-height-medium);
  margin: remToPx(0 0 0.203125rem 0);
}

.fs-h1--campaign {
  font-size: pxToRem($font-size-large-xxxx);
  line-height: unit($baseline-grid * 3, 'rem');
}


/*------------------------------------*\
  $PARAGRAPHS
\*------------------------------------*/
/**
 * Paragraphs
 *
 * ##### Acceptable Use
 *
 * When possible, place the distinguishing information of a paragraph in the first
 * sentence to help improve the scannability of content for all users.
 *
 * ##### Avoid
 *
 * Do not use any font size smaller than the standard paragraph size for any text (other
 * than captions and labels).
 *
 * @section
 * @sectionof Typography
 *
 * @example
 * <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a
 * self-contained unit of a discourse in writing dealing with a particular point or idea.
 * A paragraph consists of one or more sentences. Though not required by the syntax of any
 * language, paragraphs are usually an expected part of formal writing, used to organize
 * longer prose.</p>
 */
p {
  font-size: pxToRem($font-size-medium);
  line-height: remToPx($line-height-medium);
  margin: 0;
}

// lobotomized owl variant
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + * {
  margin-top: unit($baseline-grid, 'rem');
}





/*------------------------------------*\
  $ANCHORS
\*------------------------------------*/
/**
 * Links
 *
 * ##### Acceptable Use
 *
 * Use links only when the link will cause the user to navigate to a different page or
 * somewhere within the same page.
 *
 * ##### Avoid
 *
 * Do not use links when the only purpose is to use it to activate JavaScript (i.e. when
 * the `href` is equal to `#` or `javascript:void(0);`). Use a [button](#buttons) instead.
 *
 * @section
 * @sectionof Typography
 *
 * @example
 * <p><a href="#links">This is a text link</a></p>
 * <p><a href="/">This is a visited text link</a></p>
 */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
a:hover,
a:active,
a:focus {
  color: #0060d7;
}

a:visited {
  color: #b3467c;
}





/*------------------------------------*\
  $INLINE_ELEMENTS
\*------------------------------------*/
/**
 * Inline Elements
 *
 * ##### Avoid
 *
 * Do not use `<small>` as a stand alone element just for small text. It should only be used
 * inline with other text.
 *
 * @section
 * @sectionof Typography
 *
 * @example
 * <p><strong>Strong is used to indicate strong importance</strong></p>
 * <p><em>Emphasized or italicized text</em></p>
 * <p>Superscript<sup>®</sup></p>
 * <p>Subscript for things like H<sub>2</sub>O</p>
 * <p><small>This small text is small for fine print, etc.</small></p>
 */
button {
  font-family: inherit;
}

/*
 * Inline elements inherit their line-height from their parents (or default to normal if
 * no parent defines one). This means you cannot set the line-height of an inline element.
 *
 * However, if the element is removed from the normal document flow (via display:table-cell,
 * position:absolute, float:left, etc.), the line-height can be set. Because of this, we will
 * set the line-height for those cases when it is removed from the document flow, but
 * understand that it won't apply in the majority of cases.
 */
small {
  font-size: pxToRem($font-size-small);
  line-height: remToPx($line-height-small);
  color: $color-grey-light;
}





/**
 * Lists
 * @section
 */

/**
 * Unordered Lists
 *
 * ##### Avoid
 *
 * Do not use lists to merely indent or for other layout purposes.
 *
 * @section
 * @sectionof Lists
 *
 * @example
 * <ul>
 *   <li>This is a list item in an unordered list</li>
 *   <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
 *   <li>
 *     Lists can be nested inside of each other
 *     <ul>
 *       <li>This is a nested list item</li>
 *       <li>This is another nested list item in an unordered list</li>
 *     </ul>
 *   </li>
 *   <li>This is the last list item</li>
 * </ul>
 */

/**
 * Ordered Lists
 *
 * ##### Avoid
 *
 * Do not use lists to merely indent or for other layout purposes.
 *
 * @section
 * @sectionof Lists
 *
 * @example
 * <ol>
 *   <li>This is a list item in an ordered list</li>
 *   <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
 *   <li>
 *     Lists can be nested inside of each other
 *     <ol>
 *       <li>This is a nested list item</li>
 *       <li>This is another nested list item in an ordered list</li>
 *     </ol>
 *   </li>
 *   <li>This is the last list item</li>
 * </ol>
 */
ol, ul, li {
  line-height: remToPx($line-height-medium);
  padding: 0;
}

ol, ul {
  margin: 0 0 remToPx($line-height-medium $line-height-medium);
}

li {
  margin: 0;
}