/**
 * Typography
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * GLOBAL.............Styles placed on html or body
 * HEADINGS...........Heading styles
 * PARAGRAPHS.........Paragraph styles
 * ANCHORS............Anchor styles
 * INLINE_ELEMENTS....Inline element styles
 */





/*------------------------------------*\
  $GLOBAL
\*------------------------------------*/
html {
  font-size: $font-size-medium;
}

body {
  color: $color-grey-body;
  font-family: $font-face-body;
  font-size: $font-size-medium;
}





/*------------------------------------*\
  $HEADINGS
\*------------------------------------*/
/**
 * Headings
 *
 * ##### Acceptable Use
 *
 * Use headings in the correct hierarchical manner (`<h1>` followed by `<h2>`, and so on)
 * as this improves readability and scannability for all users.
 *
 * ##### Avoid
 *
 * Do not use headings to achieve visual results only (e.g. skipping heading levels
 * because the lower degree heading matches the desired look).
 *
 * Do not use text formatting, such as font size or bold, to give the visual appearance of
 * a heading when it is not a heading.
 *
 * @section
 * @subsectionof Typography
 *
 * @example
 * <h1>Heading Level 1</h1>
 * <h2>Heading Level 2</h2>
 * <h3>Heading Level 3</h3>
 * <h4>Heading Level 4</h4>
 * <h5>Heading Level 5</h5>
 */

 /**
 * Heading Classes
 *
 * ##### Acceptable Use
 *
 * You may style headings to look like other headings in order to achieve aesthetic visual
 * design but keep correct hierarchical structure (e.g. style an `<h1>` to look like an
 * `<h3>`).
 *
 * ##### Avoid
 *
 * Do not apply the hading classes to elements that are not headings (e.g. `<div>`).
 *
 * @section
 * @subsectionof Typography
 *
 * @example
 * <h5 class="fs-h1">Heading Level 5</h5>
 * <h4 class="fs-h2">Heading Level 4</h4>
 * <h3 class="fs-h3">Heading Level 3</h3>
 * <h2 class="fs-h4">Heading Level 2</h2>
 * <h1 class="fs-h5">Heading Level 1</h1>
 */

// Typography Selectors (conditional based on the $limit-base-styles flag)
$typography-header-defaults = 'h1, h2, h3, h4' + ($limit-base-styles ? '' : ', .fs-h1, .fs-h2, .fs-h3, .fs-h4');
$typography-h1-selectors = 'h1' + ($limit-base-styles ? '' : ', .fs-h1');
$typography-h2-selectors = 'h2' + ($limit-base-styles ? '' : ', .fs-h2');
$typography-h3-selectors = 'h3' + ($limit-base-styles ? '' : ', .fs-h3');
$typography-h4-selectors = 'h4' + ($limit-base-styles ? '' : ', .fs-h4');
$typography-h5-selectors = 'h5' + ($limit-base-styles ? '' : ', .fs-h5');

{$typography-header-defaults} {
  color: $color-grey;
  font-family: $font-face-heading;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: pxToRem(0 0 10px 0);
}

{$typography-h1-selectors} {
  font-size: pxToRem($font-size-large-xxx);
  line-height: calcLineHeight($line-height-large-xxx, $font-size-large-xxx);

  & + p {
    margin-top: pxToRem(16px);
  }
}

{$typography-h2-selectors} {
  font-size: pxToRem($font-size-large-xx);
  line-height: calcLineHeight($line-height-large-xx, $font-size-large-xx);
}

{$typography-h3-selectors} {
  font-size: pxToRem($font-size-large-x);
  line-height: calcLineHeight($line-height-large-x, $font-size-large-x);

  & + p {
    margin-top: pxToRem(14px);
  }
}

{$typography-h4-selectors} {
  font-size: pxToRem($font-size-large);
  line-height: calcLineHeight($line-height-large, $font-size-large);

  & + p {
    margin-top: pxToRem(12px);
  }
}

{$typography-h5-selectors} {
  color: $color-grey;
  font-family: $font-face-body;
  font-size: pxToRem($font-size-small);
  font-weight: bold;
  letter-spacing: 1px;
  line-height: calcLineHeight($line-height-small, $font-size-small);
  margin: pxToRem(0 0 10px 0);
  text-transform: uppercase;

  & + p {
    margin-top: pxToRem(12px);
  }
}


/*------------------------------------*\
  $PARAGRAPHS
\*------------------------------------*/
/**
 * Paragraphs
 *
 * ##### Acceptable Use
 *
 * When possible, place the distinguishing information of a paragraph in the first
 * sentence to help improve the scannability of content for all users.
 *
 * ##### Avoid
 *
 * Do not use any font size smaller than the standard paragraph size for any text (other
 * than captions and labels).
 *
 * @section
 * @subsectionof Typography
 *
 * @example
 * <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a
 * self-contained unit of a discourse in writing dealing with a particular point or idea.
 * A paragraph consists of one or more sentences. Though not required by the syntax of any
 * language, paragraphs are usually an expected part of formal writing, used to organize
 * longer prose.</p>
 */
p {
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
  margin: 0;
}

// lobotomized owl variant
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + p {
  margin-top: pxToRem(26px);
}





/*------------------------------------*\
  $ANCHORS
\*------------------------------------*/
/**
 * Links
 *
 * ##### Acceptable Use
 *
 * Use links only when the link will cause the user to navigate to a different page or
 * somewhere within the same page.
 *
 * ##### Avoid
 *
 * Do not use links when the only purpose is to use it to activate JavaScript (i.e. when
 * the `href` is equal to `#` or `javascript:void(0);`). Use a [button](#buttons) instead.
 *
 * @section
 * @subsectionof Typography
 *
 * @example
 * <p><a href="#links">This is a text link</a></p>
 * <p><a href="/">This is a visited text link</a></p>
 */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a,
a:hover,
a:active,
a:focus {
  color: #0060d7;
}

a:visited {
  color: #b3467c;
}





/*------------------------------------*\
  $INLINE_ELEMENTS
\*------------------------------------*/
/**
 * Inline Elements
 *
 * ##### Avoid
 *
 * Do not use `<em>` to emphasizes text. Instead, use `<strong>`.
 *
 * @section
 * @subsectionof Typography
 *
 * @example
 * <p><strong>Strong is used to indicate strong importance</strong></p>
 * <p>Superscript<sup>®</sup></p>
 * <p>Subscript for things like H<sub>2</sub>O</p>
 * <p><small>This small text is small for for fine print, etc.</small></p>
 * <p>Keybord input: <kbd>Cmd</kbd></p>
 */
button {
  font-family: $font-face-body;
}

small {
  font-size: pxToRem($font-size-small);
  line-height: calcLineHeight($line-height-small, 17px);
  color: $color-grey-light;
}





/**
 * Lists
 * @section
 */

/**
 * Unordered Lists
 *
 * ##### Avoid
 *
 * Do not use lists to merely indent or for other layout purposes.
 *
 * @section
 * @subsectionof Lists
 *
 * @example
 * <ul>
 *   <li>This is a list item in an unordered list</li>
 *   <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
 *   <li>
 *     Lists can be nested inside of each other
 *     <ul>
 *       <li>This is a nested list item</li>
 *       <li>This is another nested list item in an unordered list</li>
 *     </ul>
 *   </li>
 *   <li>This is the last list item</li>
 * </ul>
 */

/**
 * Ordered Lists
 *
 * ##### Avoid
 *
 * Do not use lists to merely indent or for other layout purposes.
 *
 * @section
 * @subsectionof Lists
 *
 * @example
 * <ol>
 *   <li>This is a list item in an ordered list</li>
 *   <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
 *   <li>
 *     Lists can be nested inside of each other
 *     <ol>
 *       <li>This is a nested list item</li>
 *       <li>This is another nested list item in an ordered list</li>
 *     </ol>
 *   </li>
 *   <li>This is the last list item</li>
 * </ol>
 */
ol, ul, li {
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
  padding: 0;
}

ol, ul {
  margin: pxToRem(0 0 10px 25px);
}

li {
  margin: 0;
}

// FIXME: messes up most custom lists (like the header), need to figure out a better
// way to do this

// li + li {
//   margin-top: 5px;
// }