/*------------------------------------*\
  $FUNCTIONS
  Functions should always be called using parentheses (such as 'clearfix()') and never look
  like CSS declarations.

  Doing so will help developers know where the output is coming from.
\*------------------------------------*/
$round-precision = 3;

/*
 * Output the clearfix hack for the element.
 */
clearfix()
  &:before
  &:after
    content: ''
    display: table
  &:after
    clear: both

/*
 * Take a unit and output both px and rem properties.
 * @param {unit|units}
 *
 * @example
 *  padding: pxToRem(16px);
 *  // => padding: 16px; padding: 1rem;
 *
 *  padding: pxToRem(16px 14px);
 *  // => padding: 16px 14px; padding: 1rem 0.875rem;
 */
pxToRem($num)
  if current-property
    $pxs = null
    $rems = null

    for $n in $num
      $pxs = $pxs unit($n, 'px')
      $rems = $rems unit( round($n / $base-font-size, $round-precision), 'rem' )

    add-property(current-property[0], $pxs)
    return $rems
  else
    error('pxToRem() must be used within a property')

/*
 * Calculate the line-height as a multiplier of the font-size
 * @param {unit} line-height - Line-height in px
 * @param {unit} font-size   - Font-size in px
 */
calcLineHeight($line-height, $font-size)
  return round( remove-unit($line-height / $font-size), $round-precision )