/*------------------------------------*\
  $CONTENTS
  Mixins are functions that are trigged off CSS property names ('display', 'animation',
  etc.) and don't require parenthesis to trigger. Mixins should only be used to output
  vendor prefixes or to provide shortcuts for common CSS effects (like ellipsis truncation)
  by providing new property values.

  Doing so will help reduce any undesired effects when writing CSS and getting unexpected
  output.
\*------------------------------------*/
/*
 * MIXINS....Normal property prefixes
 * FLEXBOX...Flexbox support for webkit browsers
 */





/*------------------------------------*\
  $MIXINS
\*------------------------------------*/
/*
 * Shortcut for displaying ellipsis text on truncation.
 *
 * @example
 *  .text {
 *    overflow: ellipsis
 *  }
 */
overflow()
  if arguments[0] == ellipsis
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  else
    overflow: arguments

animation()
  -webkit-animation: arguments
  animation: arguments

transform()
  -webkit-transform: arguments
  transform: arguments

user-select()
  -webkit-user-select: arguments
  -moz-user-select: arguments
  -ms-user-select: arguments
  user-select: arguments





/*------------------------------------*\
  $FLEXBOX
  @see https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes#Flexible_box_properties
\*------------------------------------*/
display()
  if match('flex', '' + arguments)
    display: s('-webkit-%s', arguments)

  display: arguments

align-content()
  -webkit-align-content: arguments
  align-content: arguments

align-items()
  -webkit-align-items: arguments
  align-items: arguments

align-self()
  -webkit-align-self: arguments
  align-self: arguments

flex()
  -webkit-flex: arguments
  flex: arguments

flex-basis()
  -webkit-flex-basis: arguments
  flex-basis: arguments

flex-direction()
  -webkit-flex-direction: arguments
  flex-direction: arguments

flex-flow()
  -webkit-flex-flow: arguments
  flex-flow: arguments

flex-grow()
  -webkit-flex-grow: arguments
  flex-grow: arguments

flex-shrink()
  -webkit-flex-shrink: arguments
  flex-shrink: arguments

flex-wrap()
  -webkit-flex-wrap: arguments
  flex-wrap: arguments

justify-content()
  -webkit-justify-content: arguments
  justify-content: arguments

order()
  -webkit-order: arguments
  order: arguments