/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/**
 * MEDIA_QUERIES...Media query sizes
 * COLORS..........Color variables
 * FONTS...........Font variables
 * OTHER...........Other property variables such as border-radius
 */





/*------------------------------------*\
  $MEDIA_QUERIES
  Match Bootstrap 3 breakpoints for consistency
\*------------------------------------*/
// screen sizes
$screen-mobile-max = 767px;

$screen-tablet-min = 768px;
$screen-tablet-max = 979px;

$screen-desktop-min = 980px;
$screen-desktop-max = 1199px;

$screen-desktop-hd-min = 1200px;

// media query breakpoints
$break-mobile = "screen and (max-width:" + $screen-mobile-max  + ")";

$break-tablet-above = "screen and (min-width:" + $screen-tablet-min +")";
$break-tablet = "screen and (min-width:" + $screen-tablet-min +") and (min-width:" + $screen-tablet-max +")";
$break-tablet-below = "screen and (max-width:" + $screen-tablet-max +")";

$break-desktop-above = "screen and (min-width:" + $screen-desktop-min +")";
$break-desktop = "screen and (min-width:" + $screen-desktop-min +") and (max-width:" + $screen-desktop-max +")";
$break-desktop-below = "screen and (max-width:" + $screen-desktop-max +")";

$break-desktop-hd = "screen and (min-width:" + $screen-desktop-hd-min +")";





/*------------------------------------*\
  $COLORS
  Use the stylus function "rgba(hex, opacity)" to add alpha transparency to a color
  @see http://learnboost.github.io/stylus/docs/bifs.html#rgbacolor--rgba
\*------------------------------------*/
$color-green-primary = #87b940;
$color-grey-primary = #bab7b1;
$color-brown-primary = #9c947a;

$color-red-accent = #f16458;
$color-blue-accent = #27c4f4;
$color-orange-accent = #fcb34b;
$color-green-accent = #bfd730;
$color-purple-accent = #996799;
$color-brown-accent = #9c947a;
$color-grey-accent = #cccccc;

$color-grey = #4d4d4a;
$color-grey-body = #333331;
$color-grey-body-light = #666662;

// gender colors should only be used to represent gender
$color-blue-gender = #3d8ff7;
$color-blue-gender-light = #99c4fe;
$color-pink-gender = #e23f7b;
$color-pink-gender-light = #f48eb6;





/*------------------------------------*\
  $FONTS
\*------------------------------------*/
// font families
$font-face-body = "ProximaNova", sans-serif;
$font-face-heading = "museo", serif;

// responsive typography settings
$base-font-size = 16;
$base-line-height = 20;

// font sizes
$font-size-small = 14px;
$font-size-medium = ($base-font-size)px;
$font-size-large = 21px;
$font-size-large-x = 28px;
$font-size-large-xx = 36px;
$font-size-large-xxx = 48px;

// line heights
$line-height-small = 18px;
$line-height-medium = 20px;
$line-height-large = 24px;
$line-height-large-x = 32px;
$line-height-large-xx = 39px;
$line-height-large-xxx = 50px;





/*------------------------------------*\
  $OTHER
\*------------------------------------*/
$border-radius = 4px;