/**
 * Alerts
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * SUCCESS.......Standard alert for successful actions
 * INFO..........Alert used for getting the user's attention
 * WARNING.......Alert used for potential problems
 * ERROR.........Alert used for errors
 */





/*------------------------------------*\
  $SUCCESS
\*------------------------------------*/
/**
 * Types
 *
 * ##### Acceptable Use
 *
 * Place alerts in close proximity to the object or section that they are related to. The
 * width of the alert should be determined by the width of its context. If an alert deals with
 * the context of the entire website, such as a system alert, it should be the full width of
 * the page. Otherwise the width and placement of the alert should help communicate the
 * context of what it relates to.
 *
 * Always keep alert messages brief and concise. When an alert is not the users fault, use
 * terms like "System Error" instead of simply "Error" to avoid making them feel like they did
 * something wrong.
 *
 * ##### Avoid
 *
 * Do not use an alert when you need more actions than a simple link (please refer to the
 * [Links](/elements#links) section for information about how to use a link). Use a [modal](#modals) or
 * popover instead.
 *
 * @section
 * @subsectionof Alerts
 *
 * @example
 * <small class="example__title">Success</small>
 * <div class="fs-alert">
 *   <p>Item deleted successfully. <a href="javascript:void(0);">Undo</a>.</p>
 * </div>
 *
 * <small class="example__title">Info</small>
 * <div class="fs-alert fs-alert--info">
 *   <p>Upcoming change to temple policy. <a href="javascript:void(0);">Read More</a>.</p>
 * </div>
 *
 * <small class="example__title">Warning</small>
 * <div class="fs-alert fs-alert--warning">
 *   <p>This batch contains data inconsistencies.</p>
 * </div>
 *
 * <small class="example__title">Error</small>
 * <div class="fs-alert fs-alert--error">
 *   <p>Unable to delete note.</p>
 * </div>
 */
.fs-alert {
  background: #f1f6d3;
  border-radius: $border-radius;
  border: 1px solid #bfd730;
  color: #44650f;
  display: block;
  padding: pxToRem(10px 40px 10px 34px);
  position: relative;

  &:before {
    @extends $icon-check;
    background-size: 100%;
    content: '';
    height: pxToRem(20px);
    left: 7px;
    position: absolute;
    width: pxToRem(20px);
  }

  &__title {
    color: inherit;
  }

  a {
    text-decoration: underline;
  }





  /*------------------------------------*\
    $INFO
  \*------------------------------------*/
  &--info {
    background: #e0f6fd;
    border-color: #6ed7f7;
    color: #0f5ba9;

    &:before {
      @extends $icon-info
    }
  }





  /*------------------------------------*\
    $WARNING
  \*------------------------------------*/
  &--warning {
    background: #fff8de;
    border-color: #ffd400;
    color: #79520f;

    &:before {
      @extends $icon-warning
    }
  }





  /*------------------------------------*\
    $ERROR
  \*------------------------------------*/
  &--error {
    background: #fdeeee;
    border-color: #f8b0ab;
    color: #a71e1a;

    &:before {
      @extends $icon-exclamation
    }
  }
}





/*------------------------------------*\
  $CLOSE_DIALOG
\*------------------------------------*/
/**
 * Alerts with a Close Icon
 *
 * ##### Acceptable Use
 *
 * In most cases there is no need to close or dismiss an alert. Only provide a close icon when
 * absolutely necessary.
 *
 * @section
 * @subsectionof Alerts
 *
 * @example
 * <div class="fs-alert">
 *   <button class="fs-dialog__close"></button>
 *   <p>Account saved successfully.</p>
 * </div>
 */

/*
 * 1. Using a font for the close x never was consistent across multiple devices and the
 *    font usually was never centered in the box. Instead, we'll just make an x.
 */
.fs-dialog__close {
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  background: transparent;
  border: none;
  box-shadow: 0 0 0 transparent;
  height: pxToRem(20px);
  line-height: 1;
  padding: 0;
  position: absolute;
  right: pxToRem(10px);
  top: pxToRem(10px);
  user-select: none;
  width: pxToRem(20px);

  /* [1] */
  &:before,
  &:after {
    background-color: #a8a8a8;
    border-radius: $border-radius;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: pxToRem(12px);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      background-color: $color-grey-body;
    }
  }

  &:active {
    &:before,
    &:after {
      background-color: #6f6f6f;
    }
  }
}





/**
 * Alerts with a Title
 *
 * ##### Acceptable Use
 *
 * Long and verbose alerts are discouraged, but in some cases a detailed explanation is
 * needed, like the Private Person alert shown here. In this case a title provides a quick
 * glance of what the alert is about.
 *
 * @section
 * @subsectionof Alerts
 *
 * @example
 * <small class="example__title">Heading title</small>
 * <div class="fs-alert fs-alert--info">
 *   <h4 class="fs-alert__title">Private Person</h4>
 *   <p>Living and confidential people are managed in a private space. Only you will be able to see and modify this person. However, anyone could potentially see the photos, documents, and stories that are attached to this person.</p>
 * </div>
 *
 * <small class="example__title">Bold title</small>
 * <div class="fs-alert fs-alert--error">
 *   <p><strong>Opportunities:</strong> We're sorry, but an error occurred while looking for temple opportunities.</p>
 * </div>
 */