/*------------------------------------*\
  $BADGES
\*------------------------------------*/
.fs-badge {
  background: #fff;
  border-radius: 9px;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: $small-size;
  font-weight: normal;
  line-height: 1;
  margin: 0 4px;
  min-width: 21px;
  padding: 1px 8px;
  text-shadow: none;

  &--dark {
    background: $color-headings;
    color: #fff;
  }
}