/*------------------------------------*\
  $BUTTONS
\*------------------------------------*/

/**
 * 1. Default button height should be 35px.
 * 2. Links need to override :focus and :visited color.
 * 3. :hover should always be declared before :active so that :active overrides :hover styles
 */
.fs-button {
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  background-color: $color-background-button-primary-light;
  background-image: linear-gradient($color-background-button-primary-light, $color-background-button-primary-dark);
  border-radius: 4px;
  border: none;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.05);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $medium-size;
  font-weight: normal;
  line-height: 1;
  padding: 9.5px 20px; /* [1] */
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover { /* [3] */
    background: $color-background-button-primary-light;
    color: #fff;
    text-decoration: none;

    // disable hover effects when disabled
    &:disabled,
    &.disabled {
      background-image: linear-gradient($color-background-button-primary-light, $color-background-button-primary-dark);
    }
  }

  &:active {
    background-image: linear-gradient($color-background-button-primary-dark, $color-background-button-primary-light);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus,
  &:visited {
    text-decoration: none;
    color: #fff; /* [2] */
  }

  /**
   * secondary submit button
   */
  &--secondary {
    background-color: $color-background-button-secondary-light;
    background-image: linear-gradient($color-background-button-secondary-light, $color-background-button-secondary-dark);
    color: $color-text;

    &:hover { /* [3] */
      background: $color-background-button-secondary-light;
      color: $color-text;
    }

    &:active {
      background-image: linear-gradient($color-background-button-secondary-dark, $color-background-button-secondary-light);
      color: $color-text;
    }

    &:focus,
    &:visited {
      color: $color-text; /* [2] */
    }

    &:disabled,
    &.disabled {

      // disable hover effects when disabled
      &:hover {
        background-image: linear-gradient($color-background-button-secondary-light, $color-background-button-secondary-dark);
      }
    }
  }

  /**
   * tertiary actions
   */
  &--tertiary {
    background: transparent;
    box-shadow: 0 0 0 transparent;
    color: $color-link;

    &:hover { /* [3] */
      background: transparent;
      color: $color-link;
      text-decoration: underline;
    }

    &:active {
      background: transparent;
      color: $color-link;
      text-decoration: underline;
    }

    &:focus,
    &:visited {
      color: $color-link; /* [2] */
    }
  }






  /**
   * large buttons
   * 1. Large button height should be 50px
   */
  &--large {
    border-radius: 5px;
    box-shadow: 0 5px 0 rgba(0,0,0,0.05);
    padding: 17px 20px; /* [1] */
  }





  /**
   * small buttons
   * 1. Small button height should be 30px
   */
  &--small {
    padding: 7px 20px; /* [1] */
  }
}