/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * FIELD_GRUOP..........Contains an input field and another inline element
 * FIELD_INPUT..........Input field within the group
 * FIELD_ATTACHMENT.....Placed on either side of a field input
 * FIELD_BUTTON.........Buttons placed on either side of a field input
 * FIELD_HELP...........Help messages placed on either side of a field input
 */





/*------------------------------------*\
  $FIELD_GRUOP
\*------------------------------------*/
/**
 * Field Groups
 *
 * @section
 * @subsectionof Forms
 *
 * @example
 * <label class="example__title" for="withCheckbox">With Checkbox</label>
 * <div class="fs-field-group">
 *   <input class="fs-field-group__input" id="withCheckbox" type="text" placeholder="Example Text"/>
 *   <div class="fs-field-group__attachment">
 *     <label for="markAsExact" class="sr-only">Mark as exact</label>
 *     <input type="checkbox" id="markAsExact"/>
 *   </div>
 * </div>
 *
 * <label class="example__title" for="withButton">With Button</label>
 * <div class="fs-field-group">
 *   <input class="fs-field-group__input" id="withButton" type="text" placeholder="Example Text"/>
 *   <div class="fs-field-group__button">
 *     <button class="fs-button fs-button--recommended fs-button--small">Submit</button>
 *   </div>
 * </div>
 *
 * <label class="example__title" for="withHelpText">With Help Text</label>
 * <div class="fs-field-group fs-field-group--help">
 *   <input class="fs-field-group__input" id="withHelpText" type="text" placeholder="Example Text" aria-describedby="helpText"/>
 *   <small class="fs-field-group__help" id="helpText">This is an example of inline help text that could be helpful. It will wrap when there is more text.</small>
 * </div>
 */

/*
 * 1. Input fields require 2 levels of selector specificity
 *    (e.g. input.fs-field-group__input) to override styles from the default
 *    input[type="text"] selector.
 */
.fs-field-group {
  display: table;
  width: 100%;





  /*------------------------------------*\
    $FIELD_INPUT
  \*------------------------------------*/
  input&__input { /* [1] */
    border-radius: 0;
    display: table-cell;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius
      border-bottom-right-radius: $border-radius
    }

    ~ .fs-field-group__attachment {
      border-left: 0;
      border-right: 1px solid $color-grey-border;
    }
  }





  /*------------------------------------*\
    $FIELD_ATTACHMENT
  \*------------------------------------*/
  &__attachment {
    background: #eee;
    border: 1px solid $color-grey-border;
    border-right: 0;
    display: table-cell;
    padding: 0 8px;
    vertical-align: middle;
    white-space: nowrap;
    width: 1px;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius
      border-bottom-right-radius: $border-radius
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 5px;
      vertical-align: top;
    }
  }





  /*------------------------------------*\
    $FIELD_BUTTON
  \*------------------------------------*/
  &__button {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 1px;

    &:first-child .fs-button {
      border-radius: $border-radius 0 0 $border-radius;
      margin-right: -1px;  /* Safari */
    }

    &:last-child .fs-button {
      border-top-right-radius: $border-radius
      border-bottom-right-radius: $border-radius
      margin-left: -1px;  /* Safari */
    }

    .fs-button {
      border-radius: 0;
    }
  }





  /*------------------------------------*\
    $FIELD_HELP
  \*------------------------------------*/
  &--help {
    input.fs-field-group__input { /* [1] */
      border-radius: $border-radius;
    }
  }

  &__help {
    display: table-cell;
    padding: 0 5px 0 20px;
    vertical-align: middle;
    width: 50%;
  }
}