/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * DEFAULT_STATE........Default field state
 * VALID_STATE..........Valid field state
 * INVALID_STATE........Invalid field state
 */





/*------------------------------------*\
  $DEFAULT_STATE
\*------------------------------------*/
/**
 * Field Validation
 *
 * @section
 * @subsectionof Forms
 *
 * @example
 * <label class="example__title" for="defaultState">Default State</label>
 * <div class="fs-field-validation">
 *   <input id="defaultState" type="text" placeholder="Example Text"/>
 *   <p class="fs-field-validation__valid-message">Please save changes below.</p>
 *   <p class="fs-field-validation__invalid-message">Please enter a valid email.</p>
 * </div>
 *
 * <label class="example__title" for="validState">Valid State</label>
 * <div class="fs-field-validation fs-field-validation--valid">
 *   <input id="validState" type="text" placeholder="Example Text" aria-describedby="validMessage"/>
 *   <p class="fs-field-validation__valid-message" id="validMessage">Please save changes below.</p>
 *   <p class="fs-field-validation__invalid-message">Please enter a valid email.</p>
 * </div>
 *
 * <label class="example__title" for="invalidState">Invalid State</label>
 * <div class="fs-field-validation fs-field-validation--invalid">
 *   <input id="invalidState" type="text" placeholder="Example Text" aria-describedby="invalidMessage"/>
 *   <p class="fs-field-validation__valid-message">Please save changes below.</p>
 *   <p class="fs-field-validation__invalid-message" id="invalidMessage">Please enter a valid email.</p>
 * </div>
 */

 /*
  * 1. Allow CSS3 feature of background-position from right to be viewed on older and mobile browsers. See http://stackoverflow.com/questions/5142405/offset-a-background-image-from-the-right-using-css
  */
.fs-field-validation {
  border-radius: $border-radius;
  margin: -6px;
  padding: 6px;
  position: relative;

  input {
    background-repeat: no-repeat;
    background-position: 98% center; /* [1] */
    background-position: right 10px center;
  }

  &__valid-message,
  &__invalid-message {
    display: none;
    margin: 10px 10px 4px 10px;
  }





  /*------------------------------------*\
    $VALID_STATE
  \*------------------------------------*/
  &--valid {
    background: #f1f6d3;
    border: 1px solid #bfd730;

    input {
      @extends $icon-check
      background-color: #fff;
      border-color: #bfd730;

      &:focus {
        border-color: #356635
      }
    }

    .fs-field-validation__valid-message {
      color: #44650f;
      display: block;
    }
  }





  /*------------------------------------*\
    $INVALID_STATE
  \*------------------------------------*/
  &--invalid {
    background: #fdeeee;
    border: 1px solid #f8b0ab;

    input {
      @extends $icon-exclamation
      border-color: #f8b0ab;

      &:focus {
        border-color: #953b39
      }
    }

    .fs-field-validation__invalid-message {
      color: #a71e1a;
      display: block;
    }
  }
}