/**
 * Modals
 * @section
 */

/*------------------------------------*\
  $MODALS
\*------------------------------------*/

/**
 * Static Example
 *
 * ##### Acceptable Use
 *
 * Use a modal when the user is required to explicitly accept or reject an action or
 * information and cannot proceed without doing so. They can also be used to lead the
 * user through steps in a linear flow.
 *
 * Modals can also be used to view additional information without navigating away from the
 * current page. This can be especially useful when used in a list of search results and
 * you wish to display the contents of an item without losing your place in the list of
 * results.
 *
 * ##### Avoid
 *
 * Do not use a modal if the user needs information or context that would be hidden by the
 * modal or modal overlay.
 *
 * @section
 * @subsectionof Modals
 *
 * @example
 * <div class="fs-modal__overlay fs-modal--show" style="position: relative; height: 365px; margin: -15px;">
 *   <div class="fs-modal" style="width: 90%">
 *
 *     <div class="fs-modal__content">
 *       <div class="fs-modal__header">
 *         <h4 class="fs-modal__title">Modal</h4>
 *         <button class="fs-dialog__close"></button>
 *       </div>
 *       <div class="fs-modal__body">
 *         <p>This is a modal. It really stands out from the content and forces the user to perform an action before they can continue.</p>
 *       </div>
 *       <div class="fs-modal__buttons">
 *         <button class="fs-button fs-button--recommended">Done</button>
 *         <button class="fs-button fs-button--minor">Cancel</button>
 *       </div>
 *     </div>
 *
 *   </div>
 * </div>
 *
 * @code
 * <div class="fs-modal__overlay">
 *   <div class="fs-modal">
 *
 *     <div class="fs-modal__content">
 *       <div class="fs-modal__header">
 *         <h4 class="fs-modal__title">Modal</h4>
 *         <button class="fs-dialog__close"></button>
 *       </div>
 *       <div class="fs-modal__body">
 *         <p>This is a modal. It really stands out from the content and forces the user to perform an action before they can continue.</p>
 *       </div>
 *       <div class="fs-modal__buttons">
 *         <button class="fs-button fs-button--recommended">Done</button>
 *         <button class="fs-button fs-button--minor">Cancel</button>
 *       </div>
 *     </div>
 *
 *   </div>
 * </div>
 */

/**
 * Modal with a Bottom Bar
 *
 * ##### Acceptable Use
 *
 * In most cases there is no need to display the "Don't show this again" message and
 * the bottom bar.
 *
 * @section
 * @subsectionof Modals
 *
 * @example
 * <div class="fs-modal__overlay fs-modal--show" style="position: relative; height: 290px; margin: -15px;">
 *   <div class="fs-modal" style="width: 90%">
 *
 *     <div class="fs-modal__content">
 *       <div class="fs-modal__header">
 *         <h4 class="fs-modal__title">Modal with a Bottom Bar</h4>
 *         <button class="fs-dialog__close"></button>
 *       </div>
 *       <div class="fs-modal__body">
 *         <p>This modal has a bottom bar that allows users to prevent the modal from displaying again.</p>
 *       </div>
 *       <div class="fs-modal__buttons">
 *         <button class="fs-button fs-button--recommended">Done</button>
 *       </div>
 *       <div class="fs-modal__footer">
 *         <label>
 *           <input type="checkbox">Don't show this again.
 *         </label>
 *       </div>
 *     </div>
 *
 *   </div>
 * </div>
 *
 * @code
 * <div class="fs-modal__overlay">
 *   <div class="fs-modal">
 *
 *     <div class="fs-modal__content">
 *       <div class="fs-modal__header">
 *         <h4 class="fs-modal__title">Modal with a Bottom Bar</h4>
 *         <button class="fs-dialog__close"></button>
 *       </div>
 *       <div class="fs-modal__body">
 *         <p>This modal has a bottom bar that allows users to prevent the modal from displaying again.</p>
 *       </div>
 *       <div class="fs-modal__buttons">
 *         <button class="fs-button fs-button--recommended">Done</button>
 *       </div>
 *       <div class="fs-modal__footer">
 *         <label>
 *           <input type="checkbox">Don't show this again.
 *         </label>
 *       </div>
 *     </div>
 *
 *   </div>
 * </div>
 */

/**
 * Animations
 *
 * ##### Acceptable Use
 *
 * To open a modal, add the class `fs-modal--show` to the `fs-modal__overlay` div.
 *
 * You should also add the CSS property `overflow: hidden` to the `body` tag to prevent
 * the body from scrolling while a modal is open.
 *
 * @section
 * @subsectionof Modals
 *
 * @example
 * <div class="row-fluid">
 *   <p class="span9">
 *     <small class="example__title">Open - <code>fs-modal--show</code></small>
 *     <button class="fs-button fs-button--recommended animation__toggle" data-animation-for="fs-modal--show" data-animation-show="true">Show Modal</button>
 *     <div class="fs-modal__overlay" data-animation="fs-modal--show">
 *       <div class="fs-modal">
 *         <div class="fs-modal__content">
 *           <div class="fs-modal__header">
 *             <h4 class="fs-modal__title">Modal Title</h4>
 *             <button class="fs-dialog__close animation__toggle" data-animation-for="fs-modal--show"></button>
 *           </div>
 *           <div class="fs-modal__body">
 *             <p>This is a modal. It really stands out from the content and forces the user to perform an action before they can continue.</p>
 *           </div>
 *           <div class="fs-modal__buttons">
 *             <button class="fs-button fs-button--recommended animation__toggle" data-animation-for="fs-modal--show">Done</button>
 *             <button class="fs-button fs-button--minor animation__toggle" data-animation-for="fs-modal--show">Cancel</button>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </p>
 * </div>
 *
 * @code
 * <div class="fs-modal__overlay fs-modal--show">
 *   <div class="fs-modal">
 *
 *     <div class="fs-modal__content">
 *       <div class="fs-modal__header">
 *         <h4 class="fs-modal__title">Modal Title</h4>
 *         <button class="fs-dialog__close"></button>
 *       </div>
 *       <div class="fs-modal__body">
 *         <p>This is a modal. It really stands out from the content and forces the user to perform an action before they can continue.</p>
 *       </div>
 *       <div class="fs-modal__buttons">
 *         <button class="fs-button fs-button--recommended">Done</button>
 *         <button class="fs-button fs-button--minor">Cancel</button>
 *       </div>
 *     </div>
 *
 *   </div>
 * </div>
 */
.fs-modal {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 90%;
  max-width: 545px;
  z-index: 9999;

  &--show & {
    visibility: visible;

    & .fs-modal__content {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__overlay {
    background: rgba($color-grey-body, 0.8);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s, opacity 0.3s;
    visibility: hidden;
    z-index: 9998;

    &.fs-modal--show {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    background: #fff;
    border-radius: $border-radius;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35), 0px 3px 2px 0px rgba(0,0,0,0.18);
    margin: 0 auto;
    opacity: 0;
    position: relative;
    transform: scale(0.7);
    transition: transform 0.3s, opacity 0.3s;

    > div:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  &__header {
    border-radius: $border-radius $border-radius 0 0;
    padding: 15px 15px 10px;
  }

  &__title {
    margin: 0;
  }

  &__body,
  &__buttons {
    padding: 0 15px 15px;
    position: relative;
  }

  &__footer {
    background: $color-grey-background-light;
    padding: 10px 15px;
    border-top: 1px solid $color-grey-border;

    label {
      margin: 0;
    }
  }
}