/**
 * Persons
 * @section
 */

/*------------------------------------*\
  $CONTENTS
\*------------------------------------*/
/*
 * PERSON_VITALS........Person vitals styles
 * PERSON_GENDER........Person gender styles
 * PERSON_PORTRAIT......Person portrait styles
 * STYLE_VARIATIONS.....Different person styles
 * STATES...............State rules
 */





/*------------------------------------*\
  $PERSON_VITALS
\*------------------------------------*/
/**
 * Person Vitals
 *
 * ##### Acceptable Use
 *
 * Use a person to display the name, lifespan, and id of a person.
 *
 * ##### Avoid
 *
 * Avoid letting the persons lifespan and id line wrap.
 *
 * @section
 * @subsectionof Persons
 *
 * @example
 * <div>
 *   <div class="fs-person-vitals__name">
 *     <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *   </div>
 *   <div class="fs-person-vitals__fs-person-details">
 *     <div class="fs-person-details__container">
 *       <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *       <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *       <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *       <span class="fs-person-details__selection-stopper">​</span>
 *     </div>
 *   </div>
 * </div>
 */
.fs-person-vitals__name {
  overflow: ellipsis;
  font-size: pxToRem($font-size-medium);
  line-height: calcLineHeight($line-height-medium, $font-size-medium);
}

.fs-person-vitals__name-full,
.fs-person-vitals__name-given,
.fs-person-vitals__name-family {
  overflow: ellipsis;
}

.fs-person-vitals__name--split {
  display: none;
}

.fs-person-vitals__fs-person-details {
  overflow: ellipsis;
}

.fs-person-details__container {
  display: flex;
  flex-wrap: nowrap;
}

.fs-person-details__lifeSpan,
.fs-person-details__separator,
.fs-person-details__id,
.fs-person-details__birthPlace {
  font-size: pxToRem($font-size-small);
  line-height: calcLineHeight($line-height-small, $font-size-small);
  white-space: nowrap;
}

.fs-person-details__lifeSpan {
  overflow: ellipsis;
}

.fs-person-details__selection-stopper {
  float: left;
  font-size: 0;
  line-height: 0;
}

.fs-person-details__lifeSpan:empty + .fs-person-details__separator {
  display: none;
}

.fs-person__fs-person-parents {
  clear: both;

  & .fs-couple {
    padding-left: 10px;  // 9px connector (width + border) + 1px extra for look
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;

    &:before {
      border: 0;
    }
  }
}

.fs-person-parents__show-label {
  @extend a;
  display: inline-block;
  line-height: calcLineHeight($line-height-small, $font-size-small);
}

.fs-person-parents__hide-text {
  display: none;
}

.fs-person-parents__show-button:focus + .fs-person-parents__show-label {
  outline: thin dotted $color-grey-body;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-decoration: underline;
}

.fs-person-parents__show-button:checked {

  + .fs-person-parents__show-label {

    .fs-person-parents__show-text {
      display: none;
    }

    .fs-person-parents__hide-text {
      display: inline;
    }
  }

  ~ .fs-couple {
    max-height: 100px;
  }
}



/*------------------------------------*\
  $PERSON_GENDER
\*------------------------------------*/
/**
 * Person with Gender Icon
 *
 * ##### Acceptable Use
 *
 * Use the person gender to indicate the gender of the person, especially if the name of the
 * person could be ambiguous.
 *
 * @section
 * @subsectionof Persons
 *
 * @example
 * <div class="fs-person-gender">
 *   <div class="fs-person-gender__container fs-person-gender--medium">
 *     <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-medium-male"></div>
 *   </div>
 *   <div class="fs-person-vitals">
 *     <div class="fs-person-vitals__name">
 *       <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *     </div>
 *     <div class="fs-person-vitals__fs-person-details">
 *       <div class="fs-person-details__container">
 *         <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *         <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *         <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *         <span class="fs-person-details__selection-stopper">​</span>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <hr>
 *
 * <div class="fs-person-gender">
 *   <div class="fs-person-gender__container fs-person-gender--medium">
 *     <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-medium-female"></div>
 *   </div>
 *   <div class="fs-person-vitals">
 *     <div class="fs-person-vitals__name">
 *       <span class="fs-person-vitals__name-full" data-test="full-name">Jane Allison Doe</span>
 *     </div>
 *     <div class="fs-person-vitals__fs-person-details">
 *       <div class="fs-person-details__container">
 *         <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1920-1980</span>
 *         <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *         <span class="fs-person-details__id" data-test="pid">8BA2-AL2</span>
 *         <span class="fs-person-details__selection-stopper">​</span>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <hr>
 *
 * <div class="fs-person-gender">
 *   <div class="fs-person-gender__container fs-person-gender--medium">
 *     <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-medium-unknown"></div>
 *   </div>
 *   <div class="fs-person-vitals">
 *     <div class="fs-person-vitals__name">
 *       <span class="fs-person-vitals__name-full" data-test="full-name">Alex Doe</span>
 *     </div>
 *     <div class="fs-person-vitals__fs-person-details">
 *       <div class="fs-person-details__container">
 *         <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *         <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *         <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *         <span class="fs-person-details__selection-stopper">​</span>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * @code
 * <div class="fs-person-gender">
 *   <div class="fs-person-gender__container fs-person-gender--medium">
 *     <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-medium-male"></div>
 *   </div>
 *   <div class="fs-person-vitals">
 *     <div class="fs-person-vitals__name">
 *       <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *     </div>
 *     <div class="fs-person-vitals__fs-person-details">
 *       <div class="fs-person-details__container">
 *         <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1898-1921</span>
 *         <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *         <span class="fs-person-details__id" data-test="pid">3Gl9-B43</span>
 *         <span class="fs-person-details__selection-stopper">​</span>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 */
.fs-person-gender {
  border-collapse: separate;
  display: table;
  width: 100%;
  table-layout: fixed;

  .fs-person-vitals {
    display: table-cell;
    vertical-align: middle;
  }
}

.fs-person-gender__container {
  display: table-cell;
  width: 0;
}

.fs-person-gender--small {
  width: 15px;
}

.fs-person-gender--medium {
  width: 30px;
}

.fs-person-gender__image {
  vertical-align: top;
  display: inline-block;
  position: relative;

  &[class*=fs-icon-small] {
    margin-top: 7px;
    height: 8px;
  }

  &[class*=fs-icon-medium] {
    margin-top: 10px;
    height: 22px;
  }
}





/*------------------------------------*\
  $PERSON_PORTRAIT
\*------------------------------------*/
/**
 * Person with Portrait
 *
 * ##### Acceptable Use
 *
 * Use a person portrait to show an image of the person. If no image is available, a large
 * gender icon will be used as a placeholder.
 *
 * @section
 * @subsectionof Persons
 *
 * @example
 * <div class="fs-person-portrait">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-male"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-male"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <hr>
 *
 * <div class="fs-person-portrait">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-female"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-female"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">Jane Allison Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1920-1980</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">8BA2-AL2</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <hr>
 *
 * <div class="fs-person-portrait">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-unknown"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-unknown"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">Alex Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1898-1921</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">3Gl9-B43</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * @code
 * <div class="fs-person-portrait">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-male"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-male"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 */
.fs-person-portrait {
  display: table;
  position: relative;
}

.fs-person-portrait__container {
  display: table-cell;
}

.fs-person-portrait__portrait {
  background-color: #e0e0e0;
  background-position: center;
  background-size: 60%;
  border: solid 4px #fff;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 #636363;
  width: 66px;
  height: 66px;
  margin-right: 20px;
  position: relative;

  // make the icon responsive to the container
  &.fs-icon-before:before {
    width: 100%;
    height: 100%;
  }
}

.fs-person-portrait__portrait:before {
  content: '';
  position: absolute;
  background-position: inherit;
  background-size: inherit;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.fs-couple .fs-person-portrait__portrait {
  margin: 5px 20px 5px 0;
}

.fs-person-portrait__image {
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.fs-person-portrait__gender-wrapper {
  display: table-cell;
  vertical-align: middle;
}





/*------------------------------------*\
  $STYLE_VARIATIONS
\*------------------------------------*/

/**
 * Couple Relationship
 *
 * ##### Acceptable Use
 *
 * Use a couple relationship to indicate a marriage between two persons.
 *
 * @section
 * @subsectionof Persons
 *
 * @example
 * <div class="fs-couple fs-couple--info">
 *
 *   <div class="fs-person-gender fs-person--husband">
 *     <div class="fs-person-gender__container fs-person-gender--medium">
 *       <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-medium-male"></div>
 *     </div>
 *     <div class="fs-person-vitals">
 *       <div class="fs-person-vitals__name">
 *         <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *       </div>
 *       <div class="fs-person-vitals__fs-person-details">
 *         <div class="fs-person-details__container">
 *           <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *           <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *           <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *           <span class="fs-person-details__selection-stopper">​</span>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 *
 *   <div class="fs-person-gender fs-person--wife">
 *     <div class="fs-person-gender__container fs-person-gender--medium">
 *       <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-medium-female"></div>
 *     </div>
 *     <div class="fs-person-vitals">
 *       <div class="fs-person-vitals__name">
 *         <span class="fs-person-vitals__name-full" data-test="full-name">Jane Allison Doe</span>
 *       </div>
 *       <div class="fs-person-vitals__fs-person-details">
 *         <div class="fs-person-details__container">
 *           <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1920-1980</span>
 *           <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *           <span class="fs-person-details__id" data-test="pid">8BA2-AL2</span>
 *           <span class="fs-person-details__selection-stopper">​</span>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 *
 * </div>
 */
.fs-couple {
  position: relative;

  &--info .fs-person-gender__image:after,
  &--portrait .fs-person-portrait__portrait:after {
    content: '';
    width: 8px;
    border: 1px solid currentcolor;
    border-right: 0;
    position: absolute;
  }

  .fs-person-gender__image:after {
    right: 100%;
  }

  .fs-person-portrait__portrait:after {
    left: -13px;  // 9px connector (width + border) + 4px portrait border
  }
}

.fs-person--husband,
.fs-person--wife {
  margin-left: -9px;  // 9px connector (width + border)
  padding-left: 9px;  // 9px connector (width + border)
  overflow: hidden;
}

.fs-couple__connector:after {
  height: 150px;  // large number that would go outside the overflow of the husband/wife
}

.fs-person--husband {
  padding-bottom: 5px;

  .fs-couple__connector:after {
    border-bottom: 0;
    top: 50%;
  }
}

.fs-person--wife {
  .fs-couple__connector:after {
    border-top: 0;
    bottom: 50%;
  }
}

// needed for couple within couple (e.g. showing parents of couples)
.fs-person__fs-person-parents .fs-person--wife .fs-couple__connector:after {
  border-bottom: 1px solid currentcolor;
  top: inherit;
}

.fs-person__fs-person-parents .fs-person--husband .fs-couple__connector:after {
  border-top: 1px solid currentcolor;
  bottom: inherit;
}


/**
 * Display Variations
 *
 * @section
 * @subsectionof Persons
 *
 * @example
 * <small class="example__title">Light Theme - <code>fs-person--light</code></small>
 * <div class="fs-person-portrait fs-person--light">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-male"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-male"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <small class="example__title">Dark Theme - <code>fs-person--dark</code></small>
 * <div class="fs-person-portrait fs-person--dark" style="background: #4d4d4a; padding: 5px;">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-male"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-male"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <small class="example__title">Inline - <code>fs-person--inline</code></small>
 * <div class="fs-person-portrait fs-person--inline">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-male"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-male"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name">
 *           <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 * <small class="example__title">Stacked - <code>fs-person--stacked</code></small>
 * <div class="fs-person-portrait fs-person--stacked">
 *   <div class="fs-person-portrait__container">
 *     <div class="fs-person-portrait__portrait fs-couple__connector fs-icon-before fs-icon-large-male"></div>
 *   </div>
 *   <div class="fs-person-portrait__gender-wrapper">
 *     <div class="fs-person-gender">
 *       <div class="fs-person-gender__container fs-person-gender--small">
 *         <div class="fs-person-gender__image fs-couple__connector fs-icon fs-icon-small-male"></div>
 *       </div>
 *       <div class="fs-person-vitals">
 *         <div class="fs-person-vitals__name fs-person-vitals__name--eurotypic">
 *           <span class="fs-person-vitals__name--split">
 *             <span class="fs-person-vitals__name-given" data-test="given-name">John Henry</span><br>
 *             <span class="fs-person-vitals__name-family" data-test="family-name">Doe</span>
 *           </span>
 *           <span class="fs-person-vitals__name-full" data-test="full-name">John Henry Doe</span>
 *         </div>
 *         <div class="fs-person-vitals__fs-person-details">
 *           <div class="fs-person-details__container">
 *             <span class="fs-person-details__lifeSpan" data-test="lifeSpan">1900-1960</span>
 *             <span class="fs-person-details__separator">&nbsp;•&nbsp;</span>
 *             <span class="fs-person-details__id" data-test="pid">5XG4-L2Y</span>
 *             <span class="fs-person-details__selection-stopper">​</span>
 *           </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 */
.fs-person {

  // INLINE
  &--inline {

    .fs-person-vitals__name {
      display: table-cell;
      vertical-align: top;
    }

    .fs-person-vitals__fs-person-details {
      display: table-cell;
      vertical-align: middle;
    }

    .fs-person-details__container {
      margin-left: 30px;
    }

    .fs-person-portrait__container {
      display: none;
    }
  }

  // STACKED
  &--stacked {

    .fs-person-portrait__container,
    .fs-person-portrait__gender-wrapper {
      display: table-row;
      text-align: center;
    }

    .fs-person-portrait__portrait {
      margin: 0 auto;
    }

    .fs-person-gender__container {
      display: none;
    }

    .fs-person-vitals__fs-person-details {
      display: inline-block;
    }

    .fs-person-vitals__name:not(.fs-person-vitals__name--sinotypic) {

      .fs-person-vitals__name--split {
        display: inline;
      }

      .fs-person-vitals__name-full {
        display: none;
      }
    }
  }

  // DARK
  &--dark {
    & .fs-couple:before,
    &.fs-person-vitals,
    & .fs-person-vitals,
    & .fs-person-gender__container,
    & .fs-person-portrait__container {
      color: #fff;
    }

    .fs-person-portrait__portrait {
      background-color: #57585a;
      border-color: #6c6d6f;
      box-shadow: none;
    }

    .fs-icon-large-male:before {
      @extends $icon-male-large-grey;
      background-position: inherit;
      background-size: inherit;
      background-repeat: no-repeat;
    }

    .fs-icon-large-female:before {
      @extend $icon-female-large-grey;
      background-position: inherit;
      background-size: inherit;
      background-repeat: no-repeat;
    }
  }

  // LIGHT
  &--light {
    .fs-person-portrait__portrait {
      background-color: #f4f4f4;
      border-color: #d9d9d9;
      box-shadow: none;
    }

    .fs-icon-large-male:before {
      @extends $icon-male-large-grey;
      background-position: inherit;
      background-size: inherit;
      background-repeat: no-repeat;
    }

    .fs-icon-large-female:before {
      @extend $icon-female-large-grey;
      background-position: inherit;
      background-size: inherit;
      background-repeat: no-repeat;
    }
  }
}





/*------------------------------------*\
  $STATES
\*------------------------------------*/

// Prevent a portrait image from being draggable. Image attributes to disable
// an image or prevent dragging do not work consistently across all browsers.
.disable-portrait-image {
  .fs-person-portrait__portrait:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}