/*------------------------------------*\
  $SUBNAV
\*------------------------------------*/
.fs-subnav {
  background: #fff;
  border-bottom: 1px solid rgba(151,151,151,.8);
  position: relative;

  &:before {
    border: 2px solid rgba(0,0,0,0.05);
    bottom: -3px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
  }

  &__nav {
    box-sizing: border-box;
    height: 34px;
    list-style: none;
    margin: 0 auto;
    padding: 4px 0;
  }

  &__nav-item {
    display: inline-block;

    &:first-child {
      margin-left: -10px;  // make the link text left align with the logo
    }
  }

  &__link {
    color: $brand-color-label-grey;
    display: block;
    font-size: pxToRem($small-size);
    line-height: 122%;
    padding: 4px 10px;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $brand-color-label-grey;
      text-decoration: none;
    }
  }

  &__link:hover,
  .active &__link {
    background: #e1edc1;
    border-radius: 3px;
  }
}