/**
 * FAMILYSEARCH-STYLES
 * v1.4.0
 */

@import './helpers/*'
@import './elements/*'
@import './modules/*'

/*
 * ICONS
 */
[class*='fs-icon-before']:before,
[class*='fs-icon-after']:after {
  content: '';
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}

[class*='fs-icon-before']:before {
  margin-right: 6px;
}
[class*='fs-icon-after']:after {
  margin-left: 6px;
}

/*
 * OTHER CLASSES
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}